*{
	box-sizing: border-box;
}
.clearfix::after{
	content: "";
	display: table;
	clear: both;
}
ul{
	list-style-type: none;
}
a{
	color: #fff;
	text-decoration: none;
}
header{
	position: fixed;
	width: 100%;
}
.container{
	max-width: 1200px;
	margin: auto;
	padding: 1px;
}
header .logo{
	float: left;
}
.logo img,
.logo span{	
	vertical-align: middle;	
}
.logo img{
	font-size:2em;
	margin: 0px 0px 0px 20px;
}
.logo span{
	font-size: 3.5em;
}
header .topMenu{
	float: right;
	margin-bottom: 0;
}
.topMenu ul li{
	float: left;
	margin: 20px 30px;
}
.topMenu ul li a{
	text-shadow: 1px 1px 1px rgba(1,1,1,.4);
	transition: color .5s;
}
.topMenu ul li:hover a{
	color: dodgerblue;
}
.topMenu ul li:visited a{
	color: dodgerblue;
}
.banner{
	min-height: 800px;
	background: url(../img/banner.jpg) no-repeat center top;
	background-size: cover;
}
.banner .container{
	
}
