body {
  font-family: 'Roboto';
  color: #fff;
}

* {
  margin: 0;
  padding: 0;
}

.bar-menu {
  height: 70px;
  z-index: 10;
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  background: chocolate;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .26);
}

.hamburger {
  font-size: 24px;
}

.button {
  transform: none;
  cursor: pointer;
  padding: 1em;
  transition: .3s;
}

.submenu {
  display: none;
}

.submenu-item {
  list-style: none;
  left: -32px;
  background: coral;
}

.side-menu {
  display: none;
  width: 300px;
  position: absolute;
  left: 0;
  top: 70px;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, .26);
  height: 100vh;
  background: coral;
}

.menu {
  cursor: pointer;
  list-style: none;
}

.menu li {
  background: coral;
  padding: 1em 2em;
}

.menu-item {
  font-size: 18px;
  color: #fff;
  text-decoration: none;
}

.fa-angle-right {
  padding-left: .3em;
}