body{
	background: url(https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1492350946181&di=ec35cf7e79c96139b3cdf82fa086a8bf&imgtype=0&src=http%3A%2F%2Fwww.5jjc.net%2Ftu5jJDAwNCQxNC85MTIzODIxODQvVDJhOXpEWERGJDYkNlgtOTEyMzgyMTg0JDk.jpg);
	background-size: 100%;
	padding: 0;
	margin: 0;
}
header,footer{
	margin:2px 0;
	min-height:60px;
}
h1{
	text-align: center;
	color: #FFCCAA;
}
h3{
	font-size: 18px;
    font-weight: 400;
}
#ace{
	border:1px solid #9df;
	width: 1000px;
	margin: auto;
}
a:link{
	color: #99DDFF;
	text-decoration: none;
}
a:visited{
	color: #99DDFF;
	text-decoration: none;
}
a:hover{
	color: #FFAA11;
	text-decoration: none;
    border-bottom: 1px solid #FFDDCC;
}
.clearfix{
	clear: both;
    zoom: 1;
    margin: 20px 0 12px;
    line-height: 20px;
    font-family: Microsoft YaHei,SimHei,Verdana;
}
.clearfix::after{
	content: "";
	display: table;
	clear: both;
}
.aa{
	font-size: 18px;
    font-weight: 400;
    color: #88CCDD;
}
b,strong{
	font-weight: 700;
}
.cc{
	font-size: 14px;
    word-wrap: break-word;
    color: #88CCDD;
    margin-bottom: 15px;
    text-indent: 2em;
    line-height: 24px;
}
.ee{
	margin-left: 0;
    float: right;
    clear: right;
}
p{
	font-size: 14px;
    word-wrap: break-word;
    color: #fff;
    margin-bottom: 15px;
    text-indent: 2em;
    line-height: 24px;
}
